/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fb;
}

/* Links */
a{
    text-decoration: none;
    color: inherit;
}

/* Buttons */
button{
    cursor: pointer;
    border: none;
}

/* Inputs */
input{
    outline: none;
}

/* Images */
img{
    max-width: 100%;
    display: block;
}